test
<div class="cus-content">
  <div class="header">
    <div class="customer_login">
      <a href="#" class="link_lb">
        <img class="icon" src="assets/img/user-alt-solid.svg" alt="" height="15">
        {{language_data.customer_login}}</a>
    </div>
    <div class="agent_login">
      <a href="#" class="link_lb">
        <img class="icon" src="assets/img/user-tie-solid.svg" alt="" height="15">
        {{language_data.agent_login}}</a>
    </div>
    <div class="agent_crs_login">
      <a href="#" class="link_lb">
        <img class="icon" src="assets/img/user-tie-solid.svg" alt="" height="15">
        {{language_data.agent_crs_login}}</a>
    </div>
    <div class="check_mail">
      <a href="#" class="link_lb">
        <img class="icon" src="assets/img/envelope-solid.svg" alt="" height="15" style="margin-top:3px;">
        {{language_data.check_mail}}</a>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.svg" alt="" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <!-- <form class="form-inline my-2 my-lg-0"> -->
      <ul class="navbar-nav my my-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{language_data.services}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">{{language_data.scenic_flight}}</a>
            <a class="dropdown-item" href="#">{{language_data.charter_flight}}</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="#">{{language_data.airline_route_map}}</a>
            <a class="dropdown-item" href="#">{{language_data.laoskyway_xiengkhuang_hotel}}</a>
            <a class="dropdown-item" href="#">{{language_data.laoskyway_vientiane_hotel}}</a>
            <a class="dropdown-item" href="#">{{language_data.laoskyway_tour}}</a>
            <a class="dropdown-item" href="#">{{language_data.cargo_tracking}}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{language_data.sky_card}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">{{language_data.sky_card_partner}}</a>
            <a class="dropdown-item" href="#">{{language_data.sky_card_register}}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{language_data.destinations}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">{{language_data.vientiane}}</a>
            <a class="dropdown-item" href="#">{{language_data.luangprabang}}</a>
            <a class="dropdown-item" href="#">{{language_data.borkeo}}</a>
            <a class="dropdown-item" href="#">{{language_data.oudomxay}}</a>
            <a class="dropdown-item" href="#">{{language_data.luangnamtha}}</a>
            <a class="dropdown-item" href="#">{{language_data.houphan}}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{language_data.about_us}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">{{language_data.laoskyway}}</a>
            <a class="dropdown-item" href="#">{{language_data.organization_chart}}</a>
            <a class="dropdown-item" href="#">{{language_data.general_terms_and_conditions}}</a>
            <a class="dropdown-item" href="#">{{language_data.fleet_informations}}</a>
            <a class="dropdown-item" href="#">{{language_data.videos}}</a>
            <a class="dropdown-item" href="#">{{language_data.contact_us}}</a>
            <a class="dropdown-item" href="#">{{language_data.activities_and_photo}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">{{language_data.job_vacancy}}</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">{{language_data.feed_back}}</a>
        </li>
      </ul>
      <!-- </form> -->
    </div>
  </nav>




  <div class="feedback_form">

    <h4>{{language_data.title_form}}</h4>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">{{language_data.name_and_surname}}</span>
      </div>
      <input type="text" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="txtname">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">{{language_data.email}}</span>
      </div>
      <input [(ngModel)]="txtemail" type="email" class="form-control" aria-describedby="basic-addon2" placeholder="example@email.com">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">{{language_data.feedback_type}}</span>
      </div>
      <select name="feedback_type" class="custom-select" aria-describedby="basic-addon3" [(ngModel)]="cbfeedback_type">
        <option value="">{{language_data.choose}}</option>
        <option value="feedback">{{language_data.feedback}}</option>
        <option value="ask">{{language_data.ask}}</option>
        <option value="other">{{language_data.other}}</option>
      </select>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon4">{{language_data.title}}</span>
      </div>
      <input type="text" class="form-control" aria-describedby="basic-addon4" [(ngModel)]="txttitle">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon5">{{language_data.message}}</span>
      </div>
      <textarea class="form-control" aria-describedby="basic-addon5" rows="4" [(ngModel)]="txtmessage"></textarea>
    </div>
    <div class="input-group">
      <div style="width: 100%; text-align: center;">
        <button type="submit" class="btn btn-primary" style="padding-left: 40px; padding-right: 40px;" (click)="sendData()" [innerHTML]="btn_status" [disabled]="buttonStatus">
        </button>
      </div>
    </div>

  </div>


</div>